<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app_user.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @app_user.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @app_user.email %>
</p>

<%= link_to 'Edit', edit_app_user_path(@app_user) %> |
<%= link_to 'Back', app_users_path %>
